.Line-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline: 2vw;
}

.Line-button {
  background-color: #282c34;
  font-size: calc(2px + 2vmin);
  border-radius: 22px;
  border: 2px solid hsl(220, 16%, 28%);
  margin: 3px;
  padding-inline: 3vw;
  display: flex;
}

.Line-button-wrapper {
  display: flex;
  justify-content: center;
}

