.text {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.List {
  padding-inline-start: 2px;
  margin-top: 0.25em;
}

